<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body  background="textura.jpg">

	<div class="div_form">

	<h4>A00130528</h4>
	<h4>David Alejandro Erazo</h4>

		<form>
			
			<h4>Username</h4>
			<label for ="Nombre">Nombre</label><br>
			<input type="text" id="nombre" placeholder="Username or email"><br>

			<h4>Password</h4>
			<label for ="email">Email</label><br>
			<input type="email" id="email" placeholder="Password"><br>

			<input type="submit" value="send">

		</form>

	</div>
</body>
</html>