<!DOCTYPE html>	
<html>
<head>
	<title>Records</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body background="fondoTable.png">

	
	<div class="table">
			
		<h4>Cantidad  <br> de juegos: </h4>

		<table>
			<tr>
				<th>Fecha</th>
				<th>Numero de Alimentos digeridos</th>
				<th>Score</th>
				<th>Gano?</th>
				<th>Tiempo transcurrido de juego</th>
			</tr>
			<tr>
				<td>16-05-2019</td>
				<td>100</td>
				<td>200</td>
				<td>Si</td>
				<td>2 minutos</td>
			</tr>
		
		</table>


</body>
</html>